# Firebase Admin SDK
FIREBASE_PROJECT_ID=portfolio-wsa
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-seu-email@portfolio-wsa.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nSUA_CHAVE_PRIVADA_AQUI\n-----END PRIVATE KEY-----\n"

# Firebase Storage
FIREBASE_STORAGE_BUCKET=portfolio-wsa.appspot.com

# URL de acesso ao Storage 
FIREBASE_STORAGE_URL=https://portfolio-wsa.firebasestorage.app 